fastapi==0.115.12
uvicorn[standard]==0.34.3
pydantic==2.11.5
python-multipart==0.0.20
SQLAlchemy==2.0.41
alembic==1.16.1
psycopg[binary]==3.2.9
Pillow==11.2.1
pillow-avif-plugin==1.5.5
pyotp==2.9.0
cloudinary==1.41.0
